<header class="navbar navbar-expand-md border-bottom" role="banner">
  <div class="container">
    {{ page.header }}
  </div>
</header>

<main role="main" class="container mb-5 mt-5">
  <div class="row">
    <div class="col-md-8">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      <h2>Toeter toeter toeter toeter toeter, met romana op de scooter</h2>
      {{ page.content }}
      {# /.layout-content #}
    </div>

    {% if page.sidebar %}
    <aside class="col-md-4 border-left" role="complementary">
        {{ page.sidebar }}
    </aside>
    {% endif %}
  </div>
</main>

{% if page.footer %}
<footer class="container" role="contentinfo">
  {{ page.footer }}
</footer>
{% endif %}
{# /.layout-container #}
