main {
  position: relative;
}

header {
  img {
    height: 32px;
  }
}

.sidebar {
  position: fixed !important;
  padding-top: 100px !important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
